<!--The content below is only a placeholder and can be replaced.-->

<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

<button mat-button>My mat-button</button>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" (click)="showMsg()">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<p>
  <span *ngIf="isShowMsg">Just Monika!</span>
</p>

<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Question?">
  </mat-form-field>

  <br>

  <mat-toolbar-row>
    <button mat-raised-button (click)="showAnswer()">Answer to me!</button>

    <span class="example-spacer"></span>

    <mat-icon class="example-icon">delete</mat-icon>
      <button mat-raised-button (click)="helpAnswer()">Help me, I'm trash!</button>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>

  <mat-spinner [style.display]="showSpinner ? 'block' : 'none' "></mat-spinner>
</mat-card>

<mat-card *ngIf="displayAnswer===correctAnswer">
  <h1>{{ displayAnswer }} You're damn right.</h1>
</mat-card>
<mat-card *ngIf="flagAnswered===true && displayAnswer!==correctAnswer">
  <h1>Wrong. You're trash. <mat-icon class="example-icon">delete</mat-icon> </h1>
</mat-card>
